@import './variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: var(--font-family);
    scroll-behavior: smooth;
    color: var(--color-text);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
textarea,
select {
    font-family: var(--font-family);
}

button {
    font-family: var(--font-family);
    cursor: pointer;
}