* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #2f5233;
}

.site-footer {
    background: linear-gradient(180deg, #466f4b 0%, #93a98f 100%);
    color: #fff;
    padding: 100px 40px 60px 40px; /
}


.site-footer__inner {
    border: 2px solid #e6f0e6; 
    background-color: rgba(255, 255, 255, 0.05); 
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 30px;
    border-radius: 10px; 
}

.site-footer__box h2,
.site-footer__box h3 {
    margin-bottom: 20px;
    font-weight: bold;
}

.site-footer__box ul {
    list-style: none;
}

.site-footer__box ul li, .site-footer__box p {
    margin-bottom: 16px; 
}


.site-footer__box a {
    color: #fff;
    text-decoration: none;
    transition: opacity 0.2s;
}

.site-footer__box a:hover {
    opacity: 0.8;
}

.site-footer__newsletter-popup form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.site-footer__newsletter-popup input {
    padding: 12px;
    border: none;
    border-radius: 6px;
    outline: none;
    width: 250px; 
    background-color: #e6f0e6; 
    color: #2f5233;
}

.site-footer__newsletter-popup input:focus {
    border-color: #2f5233;
    box-shadow: 0 0 5px rgba(47, 82, 51, 0.3);
}

.site-footer__newsletter-popup button {
    width: 250px; 
    background-color: #2f5233; 
    color: #fff;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.site-footer__newsletter-popup button:hover {
    background-color: #1e3d1e; 
}

.site-footer__btn {
    width: 150px;
    background-color: #2f5233; 
    color: #fff;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.site-footer__btn:hover {
    background-color: #1e3d1e;
}

.site-footer__socials {
    margin-top: 15px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.site-footer__socials img {
    width: 28px;
    height: 28px;
    transition: transform 0.3s, opacity 0.3s;
    cursor: pointer;
}

.site-footer__socials img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}


.site-footer__bottom {
    text-align: center;
    margin-top: 50px;
    font-size: 15px;
    
}