.site-header {
    background: linear-gradient(180deg, #fff 0%, #88ae8d);
    font-family: "Verdana", Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 10px;
    box-sizing: border-box;
}

.site-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.site-header__left {
    color: #2f5233;
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: -100px; 
}


.site-header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.site-header__logo img {
    width: 110px;    
    height: auto;    
}

.site-header__logo span {
    font-size: 1.2rem;
    font-weight: 600;
}

.site-header__phone {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: bold;
    font-size: 18px;
}

.site-header__phone a {
    color: inherit;
    text-decoration: none;
}

.site-header__nav ul {
    color: #2f5233;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-header__nav a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 18px;
    transition: opacity 0.2s;
}

.site-header__nav a:hover {
    opacity: 0.8;
}

.btn {
    text-align: center;
    display: inline-block;
    padding: 8px 18px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: background-color 0.3s, color 0.3s;
}

.btn.btn--filled {
    color: #d6f5d0;
}

.btn--filled {
    transform: translateX(20px);
    background-color: #2f5233;
    border-color: #2f5233;
}

.btn--filled:hover {
    background-color: #274a2e;
    color: #e8ffd8;
}

.btn--outline {
    transform: translateX(20px);
    background-color: transparent;
    color: #2f5233;
    border-color: #2f5233;
}

.btn--outline:hover {
    background-color: #d6f5d0;
}